{% extends "layout/base.html" %}
{% load static %}

{% block content %}
    <div class="px-4 pt-6">
        <div class="grid grid-cols-1 gap-6 mb-6 w-full xl:grid-cols-3 2xl:grid-cols-3">
            <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 ">
                <div class="flex items-center">
                    <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg shadow-md shadow-gray-300">
                        <i class="ni ni-money-coins text-lg" aria-hidden="true"></i>
                    </div>
                    <div class="flex-shrink-0 ml-3">
                        <span class="text-2xl font-bold leading-none text-gray-900">24,162</span>
                        <h3 class="text-base font-normal text-gray-500">Negative Tweets</h3>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 ">
                <div class="flex items-center">
                <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg shadow-md shadow-gray-300">
                    <i class="ni ni-world text-lg" aria-hidden="true"></i>
                </div>
                <div class="flex-shrink-0 ml-3">
                    <span class="text-2xl font-bold leading-none text-gray-900">72,699</span>
                    <h3 class="text-base font-normal text-gray-500">Neutral Tweets</h3>
                </div>
            </div>
            </div>
            <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 ">
                <div class="flex items-center">
                <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg shadow-md shadow-gray-300">
                    <i class="ni ni-paper-diploma text-lg" aria-hidden="true"></i>
                </div>
                <div class="flex-shrink-0 ml-3">
                    <span class="text-2xl font-bold leading-none text-gray-900">34,451</span>
                    <h3 class="text-base font-normal text-gray-500">Positive Tweets</h3>
                </div>
            </div>
            </div>
        </div>

        <div class="max-w-2xl w-full">
            <div id="sentiment-chart"></div>
        </div>

    </div>
{% endblock %}